/* --- Google Fonts --- */
/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700"); */

/* Designer fonts  */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Yeseva+One&display=swap');


/* --- Components design --- */
@import url("components/navbar.css");
@import url("Components/wine-card.css");
@import url("Components/seminary-card.css");


/* --- Layouts --- */
@import url("pages/eshop.css");
@import url("pages/seminary.css");


/* --- Fonts & colors --- */
body {
  font-family: 'Abel', sans-serif;
  /* font-family: "Open Sans", "Helvetica", "sans-serif"; */
  font-size: large;
  margin: 0;
  background-color: rgb(240,240,240);
}
h1, h2, h3 {
  font-family: 'Yeseva One', cursive;
   
  /* font-family: "Poppins", "sans-serif"; */
  font-size: xx-large;
  padding: 2rem 0rem ;
}

h4{
  font-family: 'Yeseva One', cursive;
  font-size: large;
}

.text-center {
  text-align: center;
}



/* --- Google Fonts --- */
/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700"); */

/* --- Components design --- */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/* TODO: import new components */

/* --- Fonts & colors --- */
/* body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(240,240,240);
} */
/* h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
} */

/* .text-center {
  text-align: center;
} */
