



/* -----------Intro------------- */


.intro-seminary{
    background-image: url('/images/castle_pic.jpg') ;
    background-size: cover;
}



/* -------castle selection------------ */

.request-form{
    background-image: url('/images/castle_pic.jpg') ;
    background-size: cover;
}

.card-img-top{
    height: 150px;
}

.card-body{
    /* background-color: yellow; */
}

#castle-card{
    /* background-color: green; */
}



/* -------secret------------ */

.secret-card img{
    height: 200px;
}


/* --------customer review----------- */

.customer-cards{
    display: flex;
    justify-content: space-between;
}

.customer-title{
    display: flex;
}

.customer-card img{
    height: 100px;
    border-radius: 50%;
}



/* ----------carousel--------- */

.controls-top{
    position: relative;
    bottom: -200px;
    display: flex;
    justify-content: space-between;
}


.fa-chevron-left{
    position: relative;
    left: -30px;
}

.fa-chevron-right{
    position: relative;
    right: -30px;
}



/* ----------------------------- */