.card-img-top{
    height: 150px;
}

.card-body{
    /* background-color: yellow; */
}

#castle-card{
    /* background-color: green; */
}



/* -------secret------------ */

.secret-card img{
    height: 200px;
}


/* --------customer review----------- */
.customer-title{
    display: flex;
}

.customer-card img{
    height: 100px;
    border-radius: 50%;
}