.wine-cards{
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;

}

.wine-card {
    height: 100%;
    text-align: center;
    background-color: white;
    
}

.wine-card img{
    height: 150px;
}