.intro{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: white;
    margin: 3rem 10rem ;
    padding: 10rem auto;

}

.intro-box{
    background-image: url("/images/wine-bottle.jpg");
}

.cart {
    display: flex;
    justify-content: flex-end;
}